/*
*
*公用的style
*
*/
@fontcolor: #ffffff; //字体颜色
@blue: #2059ff; //按钮颜色
@background: #1a202e; //背景颜色
@border: #313743; //线条颜色
@input: #999999; //输入框字体颜色
@error: #d33150; //错误提示颜色
@radius: 0;
@padding: 20px;

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background: #121622
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.home {
    background: url('../img/home.jpg') no-repeat center;
    background-size: cover;
    display: block;
    min-height: 100vh;
    position: relative;

    .content {
        position: absolute;
        bottom: 15%;
        color: @fontcolor;
        width: calc(~"100%-50px");
        display: block;
        width: 100%;

        img {
            width: 40px;
            margin-bottom: 10px
        }

        h4 {
            font-weight: normal;
            font-size: 22px;
            margin: 0
        }

        i {
            width: 50px;
            height: 3px;
            background: @blue;
            display: block;
            margin: 20px 0;
        }

        p {
            font-size: 14px;
            margin: 15px 0 0
        }
    }

    .into {
        position: absolute;
        bottom: 0;
        right: 50px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        background: @blue;

        i {
            width: 20px;
            height: 25px;
            display: block;
            background: url('../img/icon-comein.png') no-repeat center;
            background-size: cover;
            margin: 12px 15px;
        }
    }
}

.lang {
    background: url('../img/lang.jpg') no-repeat center;
    background-size: 100%;
}

.language {
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}

.active,
.active:hover,
.active:focus {
    background: @blue;
    color: @fontcolor
}

/*------------------top-----------------*/
#top {
    background: #121622;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;

    .back {
        color: @fontcolor;
        font-size: 16px;
        line-height: 50px;
        text-decoration: none;
    }

    h5 {
        color: @fontcolor;
        text-align: center;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        line-height: 50px;
    }
}

#login {
    padding: 0 20px;
    height: 100vh;
    position: relative;

    h5 {
        color: @fontcolor;
        font-size: 20px;
        font-weight: normal;
        padding: 70px 0 20px 0;
        margin: 0;
    }

    .rules {
        color: @input;
        text-align: center;
        display: block;
        text-decoration: none;
        position: absolute;
        bottom: 50px;
        width: 200px;
        text-align: center;
        left: 50%;
        margin-left: -100px;
    }
}

#loginForm {
    background: @background;
    padding: 15px;
    border-top: 2px @blue solid;
}

.login {
    .el-form-item__label {
        color: @fontcolor
    }

    .el-input__inner {
        background: transparent;
        border: none;
        border-bottom: 1px @border solid;
        padding: 0;
        color: @fontcolor;
        border-radius: @radius;
    }

    .el-input__inner::-webkit-input-placeholder {
        color: @input
    }

    .el-input__inner:focus {
        border-bottom-color: @blue;
    }
}

.login-bottom {
    margin-top: 20px;
    position: relative;
    padding-bottom: 25px;

    .forgetPassword {
        color: @fontcolor;
        line-height: 50px;
    }

    .login-btn {
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;
        background: @blue;
        border-radius: 50%;
        border: none;
        padding: 0;

        i {
            width: 20px;
            height: 25px;
            display: block;
            background: url('../img/icon-comein.png') no-repeat center;
            background-size: cover;
            margin: 12px 15px;
        }
    }
}

.el-form-item__error {
    color: @error;
}

.el-form-item.is-error .el-input__inner {
    border-bottom-color: @error;
}

.is-error .el-form-item__label:before {
    color: @error
}

.selectcountry {
    display: block;

    .el-form-item__label {
        display: block;
        float: none;
        text-align: left;
    }

    .el-select {
        float: left;
        width: 34.5%;
        position: relative;

        &:before {
            width: 1px;
            height: 20px;
            position: absolute;
            top: 10px;
            right: 0;
            display: block;
            background: @border;
            content: '';
        }
    }

    .mobile {
        width: 65%;
        float: right;

        .el-input__inner {
            padding-left: 10px;
        }
    }
}

#code {
    width: 100px;
    position: absolute;
    bottom: 6px;
    right: 0;
}

#send {
    background: transparent;
    border: none;
    color: @blue;
    position: absolute;
    bottom: 6px;
    right: 0;
    width: 100px;
    padding: 0;
    line-height: 34px;
}

.submit {
    margin: 20px 0;
    width: 100%;
    background: @blue;
    color: @fontcolor;
    border: none;
    border-radius: 20px;

    &:focus,
    &:hover {
        color: @fontcolor;
        background: @blue
    }
}

/*
*
*-------------------------------tips组件-------------------------
*
*/
#tips {
    background: rgba(18, 22, 34, .8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    .tipsContent {
        background: @background;
        border-radius: 6px;
        width: 100%;

        .padding {
            padding: @padding;
            text-align: center;

            i {
                font-size: 36px;
                color: @blue;
            }

            h5 {
                color: @fontcolor;
                font-size: 20px;
                margin: 15px;
                font-weight: normal;
            }

            p {
                color: @fontcolor;
                font-size: 16px;
            }
        }
    }
}

.centerContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 100vh;
    padding: 0 25px;
}

/*
*
*---------------------------footer---------------------------
*
*
*/
#footer {
    height: 50px;
    background: #121622;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    bottom: 0;

    a {
        display: block;
        width: 33.333%;
        float: left;
        line-height: 50px;
        color: #6c7789;
        font-size: 24px;
        text-align: center;
        position: relative;
        float: left;
        text-decoration: none;
        height: 50px;

        &:after {
            width: 100%;
            height: 2px;
            display: block;
            content: '';
            bottom: 0;
            left: 0;
            position: absolute;
        }
    }

    a.current {
        color: @blue;

        &:after {
            background: @blue;
        }
    }

    a:hover,
    a:focus {
        background: transparent
    }
}

.head {
    height: 50px;
    padding: 10px 20px 0;
}

.buy {
    float: right;
    line-height: 50px;
    text-decoration: none;
    color: @fontcolor;

    span {
        background: url('../img/V0.png') no-repeat center;
        background-size: cover;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        display: inline-block;
        margin-top: 10px;
        margin-right: 5px;
        color: @blue;
    }
}

.total {
    padding: 20px;
    color: @fontcolor;

    p {
        margin: 0 0 8px 0;
    }

    h1 {
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 10px;
        position: relative;
        padding-right: 50px;
        border-bottom: 1px solid @border;
        margin-bottom: 0;

        span {
            font-size: 18px;
            margin-right: 5px;
        }

        i {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            background: #6d788a;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            color: @background;
        }
    }
}

.money {
    padding: 0 20px 20px;
    color: @fontcolor;

    p {
        margin: 0 0 8px;
    }

    .list {
        background: @background;
        border-top: 2px solid @blue;
        padding: 15px;
        position: relative;
        color: @fontcolor;
        overflow: hidden;

        p {
            margin: 0 0 8px;
        }

        h5 {
            font-size: 16px;
            font-weight: normal;
            margin: 0 0 5px;

            span {
                font-size: 13px;
                margin-right: 5px;
            }
        }

        a {
            display: block;
            width: 80px;
            height: 25px;
            border-radius: 12px;
            color: @fontcolor;
            background: @blue;
            padding: 0;
            text-align: center;
            text-decoration: none;
            line-height: 25px;
        }

        i {
            width: 60px;
            height: 60px;
            display: block;
            position: absolute;
            right: -8px;
            top: 50%;
            margin-top: -30px;
            opacity: .8;
        }

        i.lcc {
            background: url('../img/lcc.png') no-repeat center;
            background-size: 100%;
        }

        i.usdt {
            height: 100px;
            background: url('../img/usdt.png') no-repeat center;
            background-size: 100%;
            margin-top: -50px;
        }
    }
}

.finance {
    padding: 0 20px 20px;
    color: @fontcolor;

    p {
        margin: 0 0 8px;
    }

    .financeList {
        background: @background;
        padding: 15px;

        li {
            list-style: none;

            a {
                display: block;
                padding: 8px 50px 8px 45px;
                position: relative;
                border-bottom: 1px solid @border;
                color: @fontcolor;
                text-decoration: none;
                margin-bottom: 10px;

                span {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #2e3547;
                    display: block;
                    position: absolute;
                    top: 8px;
                    left: 0;
                    text-align: center;
                    line-height: 35px;
                    color: #6d788a;
                    font-size: 18px;
                }

                h5 {
                    font-size: 13px;
                    margin: 0;
                    font-weight: normal;
                }

                p {
                    color: #999;
                }

                i {
                    position: absolute;
                    right: 0;
                    top: 20px;
                    font-size: 18px;
                    color: #999
                }
            }
        }
    }
}


/*
*
*
*------------------------------buy--------------------------
*
*/
.container {
    margin: 50px 20px;
}

.buyTips {
    color: @fontcolor;
    padding: 15px 0;

}

#buyList {
    li {
        background: @background;
        padding: 15px;
        border-radius: 6px;
        margin-bottom: 10px;

        .rights {
            color: @fontcolor;

            span {
                width: 30px;
                height: 30px;
                background: url('../img/V0.png') no-repeat center;
                background-size: 100%;
                display: inline-block;
                line-height: 30px;
                text-align: center;
                color: @blue;
                font-size: 14px;
                margin-right: 5px;
            }
        }

        .buy-btn {
            width: 80px;
            float: right;
            height: 25px;
            color: @fontcolor;
            padding: 0;
            text-align: center;
            line-height: 25px;
            border-radius: 12px;
            border: none;
            background: @blue;
            margin-top: 2px;
        }

        .rightList {
            margin-top: 15px;

            li {
                line-height: 30px;
                color: @fontcolor;
                padding: 0 15px 0;
                position: relative;

                span {
                    position: absolute;
                    right: 15px;
                }
            }
        }
    }
}

.v-modal {
    opacity: .7;
}

#open {
    .el-dialog__body {
        color: @fontcolor;
    }

    .el-dialog {
        background: @background;
    }
}

.paySelect {
    width: 100%;
    .el-input__inner{
        background: transparent;
        border: none;
        border-bottom: 1px solid @border;
        border-radius: @radius;
        color: @fontcolor;
    }
}